[2022-01-25 13:06] psychemedia opened #1 "Wrap webR as a JupyterLite Kernel"
Hi

Loving this demo :-) But I guess it's limited in output terms, eg when generating graphical output?

It would be really interesting if this could be wrapped as a JupyterLite kernel, to provide access to R environments *in the browser* via [*JupyterLite*](https://github.com/jupyterlite) WASM powered Jupyter environment. This should (?) then provide support for graphical outputs (assuming the ap

[2022-01-25 13:25] georgestagg commented on #1
Graphical output actually works surprisingly well! PNG and JPEG output isn't available (R complains of the lack of X11) but you can write output to a PDF file, and then obtain the data through the Emscripten virtual filesystem and the `Module.FS` object. I have an example of that working in another environment, where R code is taken from an editor and the resulting plot is injected into the page i

[2022-01-25 13:25] georgestagg commented on #1
Thanks for the tip about JupyterLite, I'll take a look!

[2022-01-25 13:47] psychemedia commented on #1
Ah, ok re: getting graphical output. So for the png/jpeg there are some deeper dependencies required for *rendering* the output, rather than (*generating* it? If so, then maybe there is a way of returning the graphical output as encoded data and letting the JupyterLab machinery render it?

Handling data from files in JupyterLite is still a bit of an issue ( eg https://github.com/jupyterlite/jupyte

[2022-01-25 14:55] georgestagg opened #2 "Tidy up R patches"
Currently the patches just modify the R source directly. This is a quick and easy way to do things for now but isn't great in the long run.

Instead, the preprocessor should be used in the case where there's `ifdef`s already in place, and other code tweaks should be done using `ifdef __EMSCRIPTEN__` or similar.

[2022-01-25 14:56] georgestagg opened #3 "The `frame > 0x30000000` hack in `envir.c` needs to be investigated more"

[2022-01-25 15:05] georgestagg opened #4 "Libraries should be loaded dynamically"
Dynamic loading with Emscripten's version of `dlopen()` has been disabled and currently the default libraries are just statically linked in at compile time. One of the reasons for that is a problem with dynamic libraries larger than 4K, https://github.com/emscripten-core/emscripten/issues/11753.

If loading R packages is ever to work properly, dynamic linking will need to be turned back on. Potent

[2022-01-25 15:06] georgestagg opened #5 "Missing symbols should be fixed/reimplemented"
There are still a few missing symbols at link time. For example, some gfortran std lib functions are missing. These should be fixed or reimplemented in C.

[2022-01-25 15:25] jjesusfilho opened #6 "build error"
Hi,

I got the following error message when tried to build:

[code]

[2022-01-25 15:35] georgestagg commented on #6
Looks like `PWD` is probably going missing in the `Makefile`.

For now you might be get away with with running the commands manually,

[code]

[2022-01-25 16:04] georgestagg opened #7 "Plotting should support PNG and other bitmap output formats"
Plotting an image within WASM seems to work okay, at least when using PDF output. The resulting PDF file can be accessed through Emscripten's virtual filesystem via the `FS` object in JS[1].

Bitmap output (e.g. PNG) does not yet work however, due to missing X11. Probably this can be worked around by taking advantage of Emscripten's ports of libraries such as `libpng`.

Plotting output commands sh

[2022-01-25 16:12] georgestagg commented on #6
Ah, that's the very last step of the build, but /app/webR/ now doesn't seem to exist at all inside the container. Maybe in this case we should just drop the mount and get the files out the container some other way.

For example, you could run,
[code]
To enter the container and start bash, then run,
[code]
When it's finished the output files will be inside the directory `/app/webR` inside the conta

[2022-02-02 17:39] #4 closed

[2022-02-11 10:10] georgestagg opened #8 "Building with ASYNCIFY causes "Maximum call stack size exceeded" on Safari"
However, Asyncify is required for XHR, for `url()` and `download.file()` functionality.

Turning off the R JIT compiler helps, so perhaps something can be done. Losing the JIT is no problem, as efficiency is not the goal in any case. Perhaps the right thing to do down the line is remove the JIT, which should also reduce the binary size.

Stability is more important, so I have left the demo site on

[2022-02-11 10:10] georgestagg commented on #7
Whilst not a bitmap, the svglite package has been added to webR ports, which can be used to produce SVG output.

[2022-02-17 09:54] psychemedia commented on #7
Can this SVG file be displayed directly (and if so how?) from the `WebR` command line

I note there is a (new to me) [`rsvg`](https://cran.r-project.org/web/packages/rsvg/index.html) package for rendering SVG as bitmaps, but I guess that is blocked by upstream issues relating to bitmap rendering?

I also note that the terminal you seem to be using (https://terminal.jcubic.pl/ ?) supports custom JS

[2022-02-19 22:57] jcubic commented on #7
The terminal supports this syntax to render images:

Here is Wiki page that shows how to render images with custom formatters:

https://github.com/jcubic/jquery.terminal/wiki/Formatting-and-Syntax-Highlighting#image-xml-formatter

if you want to use XML-like syntax just include the xml_formattig file.

Here is a demo using this syntax: https://codepen.io/jcubic/pen/poPZGqe?editors=0010

[2022-02-19 23:00] jcubic commented on #7
If you want to render SVG probbaly best idea is to jus use raw format:

[code]

[2022-02-20 18:30] georgestagg commented on #7
Not directly, you can use the JS console to get to Emscripten's virtual filesystem though. That's how the screenshot in the initial post worked. It used some JS to talk to the filesystem and grab the file data.

Thanks, Jakub, for the `{raw: true}` tip. In theory I could use that and intercept some special command designed to do exactly as above: grab the SVG data from the virtual FS and echo it t

[2022-02-23 09:43] psychemedia commented on #7
That works really nicely - I was also pleasantly surprised to see that ggplot2 loaded so quickly and rendered a simple chart so easily :-)

[2022-02-23 15:33] #7 closed

[2022-02-23 15:35] georgestagg opened #9 "Easy access to the Emscripten virtual FS should be possible"
Access to the Emscripten virtual FS should be provided, perhaps via a JS based menu bar and file/directory browser. This would allow for an easy way to upload input data or download vectorised output files such as SVG and PDF.

[2022-02-24 13:07] psychemedia commented on #9
It would be really nice to be able to upload sqlite database files into memory at least, and be able to read/write to them in that context.

More complex would be to support the saving and loading of datafiles and scripts into browser storage.

[2022-02-24 20:02] kdpsingh opened #10 "Dockerfile build issue"
When building the Dockerfile, I got this error: #7 3.703 E: Failed to fetch http://security.ubuntu.com/ubuntu/dists/trusty-security/main/binary-arm64/Packages  404  Not Found [IP: 91.189.91.38 80]

This is fixed if you change the Dockerfile to run the apt-get update command first (see below).

May be worth changing the order (see below) unless there's a security/other reason not to do this.

[code

[2022-02-25 08:39] georgestagg commented on #10
I think the `apt-get update` needs to be left after the `echo` commands because they add some extra (very old) repositories to `apt` which are then picked up by the `update`.

I'm not sure what went wrong, but I'll try a clean build with no cache at some point soon and see if I can reproduce.

[2022-02-28 20:03] kdpsingh commented on #10
Got it! Thank you for the explanation. Feel free to close this issue.

[2022-03-02 11:05] #10 closed

[2022-03-02 11:06] #6 closed

[2022-03-15 08:18] ryanlovett commented on #1
Here's a blog post describing the architecture of webassembly-based kernels, jupyterlite, and the Xeus library:
https://blog.jupyter.org/xeus-lite-379e96bb199d

[2022-03-15 10:19] psychemedia commented on #1
There is also a [`xeus-cookiecutter`](https://github.com/jupyter-xeus/xeus-cookiecutter) for generating xeus-based Jupyter kernels that claims to include a wasm target which can be used to build a `jupyterlite-kernel`.

[2022-03-27 04:23] ekianjo opened #11 "Supported packages?"
hi @georgestagg I played around with the demo and it's fairly impressive to see R running entirely within the browser. I tried loading a few packages, like dplyr, ggplot and a few others, and it seems there is some limitation as to what packages are currently supported. How do packages support work exactly? Are they precompiled and therefore only a specific set is available? What is the work requi

[2022-04-22 08:19] georgestagg commented on #2
The latest R patches are now separated into different files, guarded behind `ifdef`s where possible, and managed using the patch software `quilt`. This is probably as neat and tidy as it's going to get without forking an R repository and managing individual patches with git commits/branches.

We'll try working with `quilt` for a bit. If it becomes difficult or unmanageable I'll revisit this and ta

[2022-04-22 08:19] #2 closed

[2022-04-22 10:01] lionel- commented on #2
Regarding quilt, it looks like stgit (https://stacked-git.github.io/guides/) is worth exploring. This is pretty much quilt but based on git, and it appears from a look at HN discussions that some quilt users have successfully updated their workflow from quilt to stgit.

[2022-04-27 14:21] georgestagg opened #13 "Correctly handle `\r\n` in `webR.runRAsync`"
Windows style line endings currently cause an `unexpected input` error in webR. One way to handle this would be to replace `\r\n` line endings with `\n` when we populate the buffer just before calling `Rf_ReplIteration`.

The replacement already seems to happen in R, even inside string literals, at least when built for unix without readline support:
[code]
so it would not be too unexpected.

[2022-04-27 18:42] #13 closed

[2022-04-28 17:24] lionel- opened #15 "Issues with lazyloading"
I'm having issues with macOS builds of webR with dev flang and the new emscripten-based builds. It appears these issues are caused by the way we currently work around lazyload databases.

From what I gather, the base package is loaded from R files rather than a lazyload database at some point, and this fails when defining `.leap.seconds` because the evaluation depends on values that are not loaded

[2022-05-02 16:44] georgestagg commented on #15
I've been experimenting with your branches and have seen the same issues. From what I can tell a large part of the problem was that the hack I set up in `007-emscripten-linklist-hack.diff` was not properly guarded by `#ifdef __EMSCRIPTEN__`. By luck this seemed to work OK in dockerised Linux but not in macOS - probably due to the different way virtual memory is setup and what values the pointers t

[2022-05-02 20:16] georgestagg commented on #15
Unsure what I did differently (perhaps OOM before?) but I just tried again and flang-lazyload built OK for me with our combined commits. The R `kmeans` function works, which IIRC calls out to a Fortran `KMNS` function, so linking to and running fortran code seems to work in principle. Thanks again for all your effort so far!

I can reliably reproduce the `_FortranACharacterCompareScalar1` problem

[2022-05-04 07:38] lionel- commented on #15
yup I'm seeing these as well. They are unlikely to have been caused by the switch from R 4.1.2 to R 4.1.3 so it seems they appeared with the new emscripten-based build and config. I'll take a look into these missing symbols now.

In any case I'm unsure we can rely on flang for "production" builds yet. But it should at least be helpful for quicker development. For me the dragonegg version of emfc i

[2022-05-04 09:56] georgestagg commented on #15
I wonder if we need some more intrinsics added to `llvmIntrinsics` in your forked flang. e.g. it has `atan` but not `atan2`. I guess we could also try to re-implement some of our own math functions to link to and fill in the gaps.

I'm not sure either way to be honest, once we fill in the missing symbols I think we might be in a pretty good position to switch. My intuition feels like the dragonegg

[2022-05-04 10:02] georgestagg opened #16 "Which License?"
I'd like to release this under MIT, as I prefer permissive licenses. However, R is released under the GPL. It could certainly be argued that this entire project is a derivative work and so also required to be released under GPL license. Particularly if we are distributing webR binaries.

Perhaps we could release the infrastructure and build/make scripts under MIT, and the R patches and binary sepa

[2022-05-04 10:52] lionel- commented on #16
I think releasing the build scripts as MIT and the patches as GPL sounds reasonable. We'll also have a bunch of R code in a webR package that can be released as MIT (we generally use the MIT licence for our packages).

WDYT @hadley?

[2022-05-04 12:50] hadley commented on #16
Licensing as much as possible as MIT seems good to me; we'll just need to make it clear to focus that the webR binaries remain GPL.

[2022-05-04 14:59] lionel- commented on #15
The missing math routines are now implemented in https://github.com/lionel-/webR/commit/a4185929eac996b4606ef3815248bbd47237cc43

Should we merge #14 and then I'll open a `lazyload` PR and then a `flang` PR?

[2022-05-04 15:30] georgestagg commented on #15
Brill, thanks.

I'll merge #14 now. I think it makes sense to then pull in all the rest in through a single combined `flang-lazyload` PR, since doing one without the other causes issues.

[2022-05-04 15:39] #3 closed

[2022-05-05 09:08] lionel- opened #17 "Running R from a web worker crashes on Safari"
Currently the webR UI blocks until the current R command finishes. This makes webR less comfortable to use and prevents printf-debugging in case of crashes or freezes.

I've ported a trimmed down version of the webR app to a web worker as a POC and it seemed to work fine: https://github.com/lionel-/webr-build/commit/143630525bde5317137b89c8c5de0aeca64a568c. I'll look into porting this work to the

[2022-05-05 12:09] #5 closed

[2022-05-05 12:09] #15 closed

[2022-05-13 16:29] lionel- commented on #17
@georgestagg What do you think about taking this opportunity to define the class within a typescript module? Winston recommended to use typescript to benefit from type checking and refactoring tools. I've experimented with it and the language is nice and the LSP features do make a difference.

[2022-05-15 15:13] georgestagg commented on #17
Restructuring the webR module and moving to typescript sounds like a good idea. It will require a large rewrite but will bring us closer to how Pyodide does things.

Comlink looks interesting! I actually don't mind the message-passing with workers so much, but something like comlink might become more useful later on when we're having to do more complicated stuff like pass backing buffers around fo

[2022-05-15 21:26] SugarRayLua opened #20 "Is something on iOS blocking the REPL runtime of webR?"
Dear Dr. Stagg,

Thanks for making such great contribution to making R more accessible to everyone! I’m a mobile medical professional and novice programmer and researcher who uses my iPad primarily for my computing at and off-work and have been looking for ways to use R more natively on my iPad. Only one developer that I’m aware of has created an app that runs R natively on the iPad (R Analyst) an

[2022-05-15 21:39] SugarRayLua commented on #11
@georgestagg,

Would you please clarify further how one can install packages from the R packages repo you discussed above. It was my understanding from reading what you wrote that if I try and type into the REPL in webR to install a package that you’ve put into the repo:

(e.g. install.packages(‘tidyr’))

that webR would default to try and pulling that package from your package repository. However

[2022-05-15 22:04] georgestagg commented on #20
Hi Mike,

I am pleasantly surprised to hear that loading such a CSV works reasonably well in webR. We don’t have much testing in place yet and I’d have guessed it would have just crashed the browser tab!

Safari on iOS used to work and I must have broken it at some point. It looks like the latest build might be working again so I have pushed out an update to the REPL website. You might have to cle

[2022-05-16 00:56] SugarRayLua opened #21 "Error in creating docker container from webR repository"
Hello.

I’m a novice programmer very interested in what you created with webR and attempted today to compile my own wasm files from your repository source. As I understood the instructions, I was supposed to create a docker image using the Dockerfile in the webR repository then create a docker container using that docker image in which I would clone in the repository into a new director in that co

[2022-05-16 07:21] georgestagg commented on #11
Running something like `install.packages(‘tidyr’)` _should_ just work.

Tidyr was probably not the best example, though. At the moment loading packages is handled through hard coded lookups for what other packages are required and I had missed tidyr. I've updated the list so that running `install.packages(‘tidyr’)` should now automatically download it and its prerequisites into the environment:

[

[2022-05-16 07:24] georgestagg commented on #21
The instructions are a bit out of date (sorry!) but by using flang rather than dragonegg one can build webR without the docker image. Probably on macOS this is the best way to go.

To do that, don't bother building the Docker image or starting docker, just clone the repo, cd to it, then run `./configure` and `make`. The first time you do this it will take a very long time as it builds everything.

[2022-05-16 07:33] lionel- commented on #11
Regarding hangs, I've noticed that the current dev version of webR hangs if I run `library(dplyr)` but not `library(tibble); library(dplyr)`. Hitting pause in the debugger shows it's stuck in `dlmalloc()`. This may be related to the memory issues I've encountered.

That said, the released webR REPL doesn't seem to suffer from this particular hang, so this may be something else.

[2022-05-16 17:27] SugarRayLua commented on #20
Thanks so much, George, it works great now! I’m so excited to see it working on the iPad— I just needed to clear the cache like you said.

I’m happy to troubleshoot/test things on the iPad in my spare time if I can be of help. A couple things I’ve noticed so far:

1. Although the large data file didn’t crash the webR in the iMac it did run it to a problem when I tried to load it on the iPad. webR

[2022-05-16 17:29] SugarRayLua commented on #21
Thanks, I will try that. I’m mostly away from my iMac during the week (hence my interest to have R run natively on my iPad) so may be next weekend until I’m able to fully test.

Sincerely,
Mike

[2022-05-16 17:34] SugarRayLua commented on #11
Thanks, with the new release, I’m able to load up tidyr fine. I wasn’t aware of the need to clear my cache to reinstall a new release— maybe something helpful to put into the future readme file. I’m also a novice to web page work so didn’t know about developer tools. I enabled that option now on my Mac for Safari; seems a bit more of hassle (need to be hardwire iPad to Mac) to use developer tools

[2022-05-16 18:11] SugarRayLua commented on #20
@georgestagg,

PS,
Anyway could wire up the View() function in the future to use WebGL instead of X11? Would be great if could pull that off.

Thanks,
Mike

[2022-05-16 19:59] SugarRayLua commented on #20
@georgestagg ,

PPS,
I should have clarified: the length of the screen comment I made above is when using webR on iPad OS on the horizontal position (most common orientation when typing on iOS Keyboard— screenshot below). The size of the font seems fine to me on the iPad.
![IMG_0934](https://user-images.githubusercontent.com/76857619/168672510-cd569e9f-3c8f-4ecb-82ee-6f6b2c3b2fdc.png)

[2022-05-16 20:08] SugarRayLua commented on #20
In comparison, this is the R analyst app’s R console on the iPad (way too tiny)
![IMG_0936](https://user-images.githubusercontent.com/76857619/168673984-58c2bf00-e4fd-4c3a-a39b-e1194ba5c9b6.jpeg)
:

[2022-05-16 23:22] SugarRayLua commented on #20
Looks like you might even be able to make an x11 like window for webR via web assembly?

https://github.com/ghaerr/microwindows

[2022-05-17 14:33] SugarRayLua commented on #20
@georgestagg, I also learned today that there is a “Page Zoom” setting for mobile Safari in settings that could help with the font size issue on the iPhone. Fyi

[2022-05-17 15:50] lionel- commented on #17
Thanks for the info. I've just found out that the wasm actually loads fine in this case and the overflow occurs when making an RPC call with Comlink.

[2022-05-18 04:47] SugarRayLua commented on #21
@georgestagg , do I have to have emscripten also installed already on my Mac? I cloned the repo at the end of the weekend and let it ./configure and make but ended up with two make errors (127 and 2). If I needed to have emscripten installed, I’ll installed emscripten next weekend when I’m back at my Mac and try those same instructions again. Thanks, Mike

[2022-05-18 07:54] georgestagg commented on #21
Yes, Emscripten is required first. We should add a check for that in the configure script...

You can install Emscripten using the `emsdk` instructions here: https://emscripten.org/docs/getting_started/downloads.html

[2022-05-18 07:57] georgestagg commented on #20
Thanks for all the info!

This will go away once I update the website after some major refactoring we're currently doing. I've fixed the problem but the commit is sitting in a feature branch and hasn't been merged into main yet.

[2022-05-18 14:20] SugarRayLua commented on #21
Thanks! Will try it out this weekend. Sincerely, Mike

[2022-05-18 14:21] SugarRayLua commented on #20
That sounds great! Thanks for letting me know— look forward to it! :-)

[2022-05-19 08:43] lionel- commented on #17
It isn't Comlink that is causing the overflow, it only appeared so because of the deterministic way the dispatched events / control flow lined up.

It looks like this is the XHR emscripten fetch logic that causes the overflow in Safari web workers. So I thought we could take this opportunity to improve the way we get inputs from `stdin` by blocking in the worker thread.

We can now do that using `

[2022-05-19 10:22] georgestagg commented on #17
I've been working on removing the XHR fetching in the R patches, I think I have something working here:
https://github.com/georgestagg/webR/commit/f9baacb3ab6238285f1e14a9a18f03b3de1f544f

[2022-05-19 10:49] lionel- commented on #17
IIUC with the blocking approach we should be able to remove most or all modifications to the REPL code, as well as the XHR fetching stopgap. Also there should be no need to hook into the Emscripten main loop. I'm currently experimenting in this direction.

[2022-05-19 13:46] lionel- commented on #16
@georgestagg LGTM

[2022-05-19 22:08] hadley commented on #16
Me too

[2022-05-22 09:06] lionel- commented on #17
Actually if we block the worker thread instead of yielding back to the event loop, we can no longer receive `message` events from the main thread. Instead we'd have to implement our own event loop based on the `Atomics` primitives. This is exactly what synclink does. Instead of reimplementing that (even if that does sound fun), I think we should just go ahead and use synclink.

One advantage of ru

[2022-05-23 08:47] SugarRayLua commented on #11
@georgestagg,

I was able to install emscripten as you suggested successfully on my MAC and created a separate folder on my Mac and complied webR in there mimicking the docker environment. I then tried to use your install_from_URL.sh script from the webR-ports site on a test package, and it seemed to initially compile that package well until it hit an error in the shell script:
file_packager comma

[2022-05-23 09:31] lionel- commented on #11
We'll support building packages through https://github.com/lionel-/webr-repo/, but this may require a few changes to the webR build system before, which are planned soon. Currently busy with other things.

[2022-05-23 09:41] georgestagg commented on #17
Okay. I'll merge #26 later today. I'm going to add my typescript refactoring on top of that and then resubmit as a separate PR for you to rebase on.

I think the web worker & comlink changes might break plotting. We can't render to a canvas from a web worker because Safari doesn't support OffscreenCanvas yet. If I have time I'm going to try reworking things so that rather than rendering directly i

[2022-05-23 13:20] SugarRayLua commented on #11
Okay, thanks for letting me know, @lionel-.' Will look forward to those changes.

Sincerely,
Mike

[2022-05-26 07:31] #16 closed

[2022-05-27 08:14] lionel- commented on #17
Thanks for investigating. I was worried it would come to this.

That's a bummer because I don't think we can easily support both blocking on stdin and yielding to the main thread in a nice abstracted way. I'll think more about it (once I'm done with some R maintenance work).

[2022-05-29 03:47] SugarRayLua commented on #11
@georgestagg and @lionel- ,

I was able to get emscripten working on my Mac and was able to use the install_from_URL.sh script to create two .js files in the dist directory on my computer as I believe George described in the steps earlier. The package I chose to try and build for webR was the "gridExtra" package. I had hoped that all I would need to do would be to use the webR "upload file" option

[2022-05-29 15:29] georgestagg commented on #17
I built a custom version of WebKit today that allocated 8MB to worker threads, rather than the default in macOS of 512KB, and that fixed the crash. That suggests that a small call stack on worker threads does indeed cause the problem.

I checked the source code for [Chromium and there they explicitly override the default on macOS and allocate more stack](https://chromium.googlesource.com/chromium/

[2022-05-30 07:03] lionel- commented on #17
Awesome! Thanks for unblocking us on this front. For the longer term, I'll look into allocating the array for the Emscripten stack memory on the main thread, and share it to the worker. Then we can remove the `bcEval()` patch and we'll be able to run stack-intensive R functions.

Do you think it's worth filing an issue upstream to increase Safari's stack memory in worker threads?

[2022-05-30 09:33] georgestagg commented on #17
Is that possible? From my understanding it's a limitation in the actual stack allocated to the thread at the native OS level, rather than a limit within the JS/WASM virtual machine.

I'm not _too_ worried about the `bcEval` patch, we already apply heaver patches and there's a `R_disable_bytecode` variable nearby that also does a similar thing. IIRC I did some experiments a while back and I found b

[2022-05-30 14:27] lionel- commented on #17
Interesting. Apparently wasm is structured in a quite peculiar way (AST-based register machine instead of SSA-based stack machine), maybe that doesn't interact well with the bytecode interpreter.

hmm yes you're probably right. I was thinking about the stack that Emscripten manages in the linear memory to store stack values (IIUC it has to because stack variables can't have their address taken in

[2022-06-11 11:58] SugarRayLua commented on #11
@georgestagg & @lionel- ,

I figured out how to create a simple webserver using python's http.server on my Mac and iPad so that I could continue to try and install and test out new R packages for webR. As a novice web developer, I didn't previously realize that my web browser client isn't allowed to fetch new R packages that I've built and stored on my local computer and that I need to fetch those

[2022-06-28 15:58] #17 closed

[2022-07-02 04:51] SugarRayLua commented on #11
PS,
Even simpler setup running completely on the iPad:

a-shell app (downloadable from the AppStore) running python3 http.server as server with webR .js and .wasm files installed then accessing the python server from localhost on Safari from the same iPad:
![IMG_0963](https://user-images.githubusercontent.com/76857619/176986948-bb0a10c3-5271-4ca0-8892-08b9d0950786.png)
![IMG_0964](https://user-ima

[2022-07-08 07:32] georgestagg commented on #20
I think compiling R to WASI without the Emscripten toolchain supporting us will be hard, but maybe in the future.

Compiling the `R.bin.wasm` file alone in a-shell will not work: Emscripten's `R.bin.js` sets up the environment and virtual filesystem contents needed to run R. We also have our own support code that sets up input/output around the R REPL by creating methods such as `Module.print` bef

[2022-07-08 14:44] SugarRayLua commented on #20
Thanks, @georgestagg for your reply. I will pass it along to the a-Shell author.

[2022-07-19 16:37] #20 closed

[2022-07-19 16:41] georgestagg commented on #9
This can now be handled via the upload/download buttons in the webR REPL app, and the `getFileData` and `putFileData` API on the webR main thread. Documentation is lacking, but I'll make another issue for that.

[2022-07-19 16:41] #9 closed

[2022-07-19 16:41] georgestagg opened #41 "More detailed documentation of the webR API is needed"

[2022-07-20 05:23] SugarRayLua commented on #20
Thank you, @georgestagg. Have a good rest of your week.

[2022-08-22 13:45] georgestagg opened #52 "Automatically preserve objects wrapped in a JS RObj"
As discussed in #38, R objects currently the target of a JS RObj class instance should be automatically `preserve`d or `protect`ed, so that the R GC does not reclaim the memory backing the objects.

It looks like it should be possible to use [FinalizationRegistry](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/FinalizationRegistry) to also automatically `release`

[2022-08-26 03:23] htiuser commented on #11
Dear All, mainly @georgestagg & @lionel- ,
Thanks for this very great innovation for all R-Users, However, I'm unable to run any R packages using the latest dist generated in Github (webr-dist).
Please take a look in this screen and let me know how to install packages and test some R libs.
among others,  to connect to Databases (https://dbi.r-dbi.org/) packages?

 Can we have persistent storage fr

[2022-08-26 07:31] georgestagg commented on #11
We lost package loading in a recent refactor, sorry about that. It will be coming back soon, certainly before the first versioned release.

Not right now, but I believe it is possible to persist storage using Emscripten's support for `IDBFS`. Perhaps in the future a `IDBFS` mount point can be setup somewhere in the virtual filesystem. I will open an issue to remind us to look into it.

[2022-08-26 07:33] georgestagg opened #56 "Persistent filesystem storage in the webR REPL"
Perhaps by mounting an Emscripten `IDBFS` filesystem somewhere like `/storage`.

We will need to think about long term storage implications. Browser localStorage will work in the short term but could be cleared away at any moment. Maybe integrating with third party storage like Dropbox via user auth is an option.

[2022-09-01 10:21] htiuser commented on #11
@georgestagg and @lionel-
Thanks a lot for this very revolutionary release. Here's a screen of my first test via CSPro (https://www.census.gov/data/software/cspro.html).
![Screen2](https://user-images.githubusercontent.com/25533880/187891459-c7fefa00-c966-4ee0-912d-f4167e9cbcc5.jpg)
However, since also i'm a new R User, i would like to know if you already have or you will implement some kinds of b

[2022-09-01 10:27] htiuser commented on #11
@georgestagg and @lionel-
I'm trying to implement this: https://cran.r-project.org/web/packages/crosstable/vignettes/crosstable.html
however, WebR was unable to install the crosstable lib.
![Screen3](https://user-images.githubusercontent.com/25533880/187892442-d4dcefde-b5d8-4275-83e0-33263bb246ad.jpg)
Please do you have some workaround for?
Thanks in advance for your help and support!

[2022-10-11 04:44] SugarRayLua commented on #1
@psychemedia,

Fyi, Dr. Holzschu (developer of the mobile iOS Jupyter app, Carnets) had also expressed interest in being able to wrap a project like WebR in a Jupyter app when I wrote to him about webR:

https://holzschu.github.io/Carnets_Jupyter/

My interest remains in getting a fast port of R to work on mobile devices like the iPad (and not necessarily need to be shared in a cloud such as RStud

[2022-10-13 15:16] barryrowlingson opened #71 "Using embedded single quote in string in graphics causes crash/hang."
Using the amazing: https://webr.gwstagg.co.uk/

[code]

works fine but then:

`> title("This isn't")`

causes the session to hang with a JS error on the console (latest Firefox, not tried other browsers yet...):

[code]

First manifest running `demo(graphics)` which makes a pie chart subtitle with a single quote in. System seems find with single quotes embedded in strings for printing etc. Can onl

[2022-10-14 13:58] georgestagg commented on #71
Thanks for the report. It's a string escaping issue in the way the HTML canvas graphics device works, which at the moment makes use of nested string interpolation. I'll make some tweaks soon to try and make this a bit smoother in the future, at least for in the case of single quotes.

For the moment, I realise it's not ideal but you can work around it using four extra backslashes to escape the inn

[2022-10-19 08:51] christianp opened #74 "Is this on a CDN anywhere?"
We've just realised that the Numbas extension is fixed to a commit from March, loaded from jsdelivr. It looks like you got rid of the `dist` folder at some point in April, and the demo page loads a local copy.

It looks like you're just working on the repl at the moment, but the standalone script is useful for us.
Would it be possible to use something like `unpkg[https://unpkg.com]` to automatical

[2022-10-19 09:01] georgestagg commented on #74
The binaries sometimes get generated too large for `jsDelivr` and we don't have an `npm` package yet for `unpkg`. webR runs in a worker now too, and the infrastructure that makes that work well requires `SharedArrayBuffer`, so the binaries need to be served with special headers and I don't think the simple CDNs expose that configuration.

So, currently I have things setup so that GitHub Actions bu

[2022-10-20 06:52] jason-variadiclabs opened #75 "Build without SharedArrayBuffer"
Is it possible to compile webR without using workers? I'm interested in running some R code natively in the browser, but the requirement is that it has to run without SharedArrayBuffers (have to be able to load locally from file:// which is currently not supported yet in Chrome/FF).

If it's a matter of performance (takes a while to download the WASM binary, load dependencies, etc.) that's not an

[2022-10-20 08:28] lionel- commented on #75
We've decided to make workers a requirement for webR because it simplifies the implementation and prevents R from blocking the main browser thread while it is busy, which would hinder user experience.

It is in principle possible to implement the communication channel between the workers without SharedArrayBuffer (using a service worker instead), but we don't have any plans to add this at the mome

[2022-10-20 19:12] SugarRayLua commented on #75
@jason-variadiclabs: the older webR version that doesn't use workers seems to still be up in case you wanted to check that out at:
https://www.mas.ncl.ac.uk/~ngs54/webR/

I'm still running that older version locally on my mobile device with a local server on that device (iPad)

[2022-10-20 19:16] SugarRayLua opened #77 "New webR terminal has a larger, easier to read font. For those still using older webR, there is an easy way to scale up its font."
For older version of webR project that uses jquery.terminal all one needs to do is add this css code into the index.html file:

.terminal {
     --size: 1.25;
		}

Where size is the scale compared to the baseline webR terminal that you wish the terminal to display as.

[2022-10-21 05:50] lionel- commented on #77
Thank you but please note that Github issues are for bug reports and feature requests. This sort of posts belongs to a user forum such as Community.

[2022-10-21 05:50] #77 closed

[2022-10-21 08:16] georgestagg commented on #75
Do note that I no longer work for Newcastle University, where that older build is hosted. As such, I can not guarantee how long it will remain up, and it should be considered unsupported.

[2022-10-21 23:59] SugarRayLua commented on #77
Duly noted. Thank you for letting me know.

[2022-10-22 00:00] SugarRayLua commented on #75
Duly noted and thanks for clarifying.

[2022-10-24 22:28] jason-variadiclabs commented on #75
thanks @lionel- @SugarRayLua and @georgestagg . Would the older webR source be available somewhere, maybe in an older commit/branch of this repo? I may end up forking the current repo and build a barebones solution without a REPL terminal, since all I need is to be able to take R code and display the output in an HTML canvas.

[2022-10-25 06:33] lionel- commented on #75
Note that this is not about REPL terminals but about the browser thread. Without a worker, the whole tab will freeze while R is computing something.

[2022-10-25 07:01] jason-variadiclabs commented on #75
Understood, that should be perfectly acceptable for now. Most likely the use case will involve drawing a static image, so there shouldn't be a problem if the browser thread hangs. In the future, animated plots might be used, so we'd have to cross that bridge when we get there and make modifications accordingly.

[2022-10-25 07:05] jason-variadiclabs commented on #75
Understood, that should be fine. The use case involves a script that is most likely generating a static image, so it's okay if the browser thread is consumed rendering it (won't be sending interrupt signals or anything like that). Animated plots _in theory_ should render properly too since it's using the browser thread, just interactive stuff won't work without modifications.

[2022-10-26 05:49] unclecode opened #78 "A headache to install and compile the R"
I used an Ubuntu distro, then just ran ./configure, and it took hours plus fixing a lot of issues and error messages, but finally, it happened. And then for the "make" step, again, I had a lot of problems, I fixed them, and eventually, I came to this error. I will give up unless you can help me please.

[code]

[2022-10-26 07:33] georgestagg commented on #78
It looks like clang is there, but some other development environment tools are missing. You could try the following, which will set up a basic development environment in Ubuntu,

[code]

Do you have much previous experience building unix packages from source? If not, it might be a good idea to wait until the first versioned release of webR, which will come with pre-compiled WASM binaries released

[2022-10-26 07:48] georgestagg commented on #75
In theory the older experimental versions of webR without use of Workers and SharedArrayBuffer are available in the git repo history, but I don't recommend using them going forward. We are aware of serious stability issues in those older versions, on top of the browser hanging during computation issue.

I understand that the `SharedArrayBuffer` requirement can be a problem, particularly when there

[2022-10-26 07:54] unclecode commented on #78
Of course, the "build-essentials" is there. That is not the problem. The problem lies elsewhere. Is it possible to share the precompiled WASM you are using now on the demo site? And when do you think this pro compiled will come out?

[2022-10-26 08:11] georgestagg commented on #78
OK. The exact issue leading to the `C compiler cannot create executables` message should be visible in the log file `config.log`. These files are a little hard to read if you are not used to them, though.

Since the problem is in the configure step of "build-stage1", which just creates a local build of R for the host machine, I would suggest downloading the R source and seeing if you can build tha

[2022-10-26 13:38] christianp commented on #74
I don't think we'll be able to use anything that relies on `SharedArrayBuffer`, because we can't arrange for the right headers to be sent on either the CDN end, or by the host serving Numbas exams.

Just how deeply does webR use `SharedArrayBuffer`? Could it be made to compile in a way that doesn't use them, dropping features that need them?

[2022-10-26 13:51] georgestagg commented on #74
I've left a comment in #75 describing our current plan. The short version is that I'm going to look into providing way to launch a minimal version of webR without using `SharedArrayBuffer`. Probably such a limited version would just skip attempting to set up any Workers at all. I will need to consider things further before I can say for sure, though.

In any case it will indeed have some limitatio

[2022-10-27 03:51] unclecode commented on #78
I've checked the configuration file and yes, it's difficult to figure out. You have a point about compiling R separately. So do you mean I replace the current R source code in the folder with a new one that I have to download and try to compile?

[2022-10-27 12:57] unclecode commented on #78
I tried that, and at first seems working but stop at a new error. I share here my config.log file. Hope you can help me. I really need to try this R on browser. This is the linl for config file. It is too big, so have to upload it.

https://file.io/cibVf5q2dpPw

[2022-10-31 20:51] SugarRayLua commented on #11
@georgestagg, follow-up question on the "install_from_URL.sh" file regarding the Makevars file it creates

I was able to get the original docker file from the original repository working and tried building some more webR packages with the install_from_URL.sh. One in particular I've been trying to build is the R curl package as it is needed by the R jsonlite package to be able to access web APIs. H

[2022-11-01 08:32] georgestagg commented on #11
@SugarRayLua

Firstly, I should mention that `install_from_URL.sh` is definitely unsupported at this point. We have moved to providing binaries via a CRAN like repo, with build scripts in the `webr-repo` GitHub repo listed above in a previous comment. Although I will admit that things are currently a little out of date there, we have been busy with other things.

While `install_from_URL.sh` might

[2022-11-02 03:57] SugarRayLua commented on #11
Thank you for explaining that, @georgestagg, that all makes sense. As I novice, I misunderstand that basic principle that one must link libraries already compiled to WASM and therefore is not as simple as just linking to libraries already installed on one's machine. It thus seems that the process of compiling R packages to WASM with install_from_URL.sh is not something most novices will be success

[2022-11-10 14:25] #71 closed

[2022-11-14 13:16] georgestagg commented on #74
An alternative communication channel between the main thread and worker thread based on JavaScript Service Workers, rather than `SharedArrayBuffer`, is available from commit [0918433](https://github.com/georgestagg/webR/commit/0918433a0286f319ad7db88274cfe20715390827).

This could work as an alternative if the HTTP headers can't be controlled, but also has a different security requirement in that

[2022-11-22 13:17] lionel- opened #93 "Problem in `canvasExec`"
Found by testing the `evaluate` package:

[code]

Causes:

[code]

[2022-11-28 08:45] #93 closed

[2022-11-29 09:36] frafra commented on #78
Just some tips: avoid use `sudo` to run `make`, and check if you have clang. emscripten requires clang, and make should be configured to use that, using the `CC` environmental variable.